<h4>Giá Tiền</h4>
<div class="price-range-wrap">
    <div class="range-slider">
        <form action="{% if item_category %}{{ item_category.get_absolute_url }}{% else %}{% url 'shop:shop' %}{% endif %}" method="get">
            <div class="row justify-content-between">
                <div class="col">
                    <input type="text" class="form-control" name="minPrice" placeholder="Từ"
                        value="{{params.minPrice}}">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="maxPrice"
                        placeholder="Đến" value="{{params.maxPrice}}">
                </div>
            </div>
            {% if params.order != '-price' %}
                <input type="hidden" class="form-control" name="order" value="price">
            {% endif %}


            {% if params.planting %}
                <input type="hidden" class="form-control" name="planting" value="{{ params.planting }}">
            {% endif %}
            

            <button type="submit" class="price-filter-btn">Áp Dụng</button>
        </form>
    </div>
</div>