<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer__about">
                <div class="footer__about__logo">
                    <a href="./index.html"><img src="static/shop/assets/img/logovb2.png" alt=""></a>
                </div>
                <ul>
                    <li>Địa chỉ: KCN Tịnh Phong, Sơn Tịnh, Quảng Ngãi</li>
                    <li>Số điện thoại: (+84)7 6666.2949</li>
                    <li>Email: vubui365@gmail.com</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
            <div class="footer__widget">
                <h6>Liên Kết Hữu Ích</h6>
                <ul>
                    <li><a href="#">Trang Cửa Hàng</a></li>
                    <li><a href="#">Trang Liên Hệ</a></li>
                    <li><a href="#">Trang Giới Thiệu</a></li>
                    <li><a href="#">Kiểm Tra Đơn Hàng</a></li>
                    <li><a href="#">Điều Khoản Bảo Mật</a></li>
                </ul>
                <ul>
                    <li><a href="#">Cách Chăm Sóc</a></li>
                    <li><a href="#">Cách Nhân Giống</a></li>
                    <li><a href="#">Thu Mua Cây</a></li>
                    <li><a href="#">Vào Diễn Đàn</a></li>
                    <li><a href="#">LH Hợp Tác</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="footer__widget">
                <h6>Nhận các khuyến mãi đặc biệt</h6>
                <p>Hãy cho chúng tôi địa chỉ email để cập nhật những ưu đãi tốt nhất dành cho bạn</p>
                <form action="#">
                    <input type="text" placeholder="Nhập email...">
                    <button type="submit" class="site-btn">Đăng Ký</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="footer__copyright">
                <div class="footer__copyright__text">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
                <div class="footer__copyright__payment"><img src="static/shop/assets/img/payment-item.png" alt=""></div>
            </div>
        </div>
    </div>
</div>