<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="hero__categories">
                <div class="hero__categories__all">
                    <i class="fa fa-bars"></i>
                    <span>Danh Mục</span>
                </div>
                <ul class="list-category">
                    {% for item in items_category_menu %}
                        <li data-active="{{item.slug}}"><a href="{{item.get_absolute_url}}">{{item.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="hero__search">
                <div class="hero__search__form">
                    <form action="{% url 'shop:shop' %}" method="get">
                        <input type="text" placeholder="Bạn cần tìm sản phẩm gì?" name="keyword" value="{{params.keyword}}">
                        <button type="submit" class="site-btn">Tìm Kiếm</button>
                    </form>
                </div>
                <div class="hero__search__phone">
                    <div class="hero__search__phone__icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="hero__search__phone__text">
                        <h5>(+84)7 6666. 2949</h5>
                        <span>Hỗ trợ 24/7</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>