<!-- Footer Start-->
{% load static %}
<div class="footer-main footer-bg">
    <div class="footer-area footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-8">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="/"><img src="{% static 'news/assets/img/logo/logo_zendvn.png' %}" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">

                                    <p class="info1 mb-3">Công Ty Cổ Phần Lập Trình Zend Việt Nam</p>
                                    <p class="info1 mb-3">Mã số thuế: 0314390745</p>
                                    <p class="info2 mb-3">Phone: 0383 308 983 - 0336405077</p>
                                    <p class="info2 mb-3">Địa điểm học: Số 01, Khối A1, Toà nhà Đạt Gia, 43
                                        Đường Cây Keo, Tam Phú, Thủ Đức, Hồ Chí Minh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-5 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Bài Viết Ngẫu Nhiên</h4>
                        </div>
                        {% for item in items_article_footer_random %}

                            <!-- Popular post -->
                            <div class="whats-right-single mb-20">
                                <div class="whats-right-img" style="width: 30%;">
                                    <img src="{{ item.image.url }}"
                                        alt="{{ item.name }}" style="width: 100%;">
                                </div>
                                <div class="whats-right-cap" style="width: 70%;">
                                    <h4><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h4>
                                    <p>Admin | {{ item.publish_date|date:"M d, Y" }}</p>
                                </div>
                            </div>

                        {% endfor %} 
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-5 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="banner">
                            <img src="{% static 'news/assets/img/logo/footerzendvn.jpg' %}" alt="" style="width: 87%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom aera -->
    <div class="footer-bottom-area footer-bg">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-12 ">
                        <div class="footer-copy-right text-center">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End-->