{% extends "layout-main.html" %}

{% load static %}

{% block main_content %}

{% include 'pages/index/trending.html' %}

<!-- Whats New Start -->
<section class="whats-news-area pb-20 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {% include 'pages/index/category-news.html' %}
                
            </div>
            <div class="col-lg-4">
                {% include 'elements/sidebar.html' %}
            </div>
        </div>
    </div>
</section>
<!-- Whats New End -->
{% endblock %}