{% load format_currency_vietnam %}
{% load get_price_old %}
{% for item in items %}

    <a href="{{item.get_absolute_url}}" class="latest-product__item">
        <div class="latest-product__item__pic" style="width: 35%;">
            <img src="{{item.image.url}}"
                alt="" style="width: 100%;">
        </div>
        <div class="latest-product__item__text">
            <h6>{{item.name}}</h6>
            <span class="price_old">{% get_price_old item.price item.price_sale %}</span>
            <span>{{item.price_real|format_currency_vietnam}}</span>
        </div>
    </a>

{% endfor %}