{% load format_currency_vietnam %}
{% load get_price_old %}
{% load highlight_shop %}
{% for item in items %}
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="product__item">
            <div class="product__item__pic set-bg"
                data-setbg="{{item.image.url}}">
                <ul class="product__item__pic__hover">
                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                    <li><a href="{{item.get_absolute_url}}"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
            <div class="product__item__text">
                <h6><a href="{{item.get_absolute_url}}">{{item.name|highlight_shop:keyword}}</a></h6>
                <h6 class="price_old">{% get_price_old item.price item.price_sale %}</h6>
                <h5>{{item.price_real|format_currency_vietnam}}</h5>
            </div>
        </div>
    </div>
{% endfor %}