<article class="card">
    <header class="card-header"> Thông Tin Đơn Hàng </header>
    <div class="card-body">
        <h6>Mã Đơn Hàng: F875F2M6</h6>
        <article class="card">
            <div class="card-body row">
                <div class="col"> <strong>Ngày đặt hàng:</strong> <br>05/07/2023 </div>
                <div class="col"> <strong>Tên người nhận:</strong> <br>Quý </div>
                <div class="col"> <strong>Số điện thoại:</strong> <br> <i class="fa fa-phone"></i> 342343 </div>
                <div class="col"> <strong>Địa chỉ nhận:</strong> <br> Thủ Đức </div>
            </div>
        </article>
        <div class="track">
            <div class="step active"><span class="icon"> <i class="fa fa-exclamation-circle"></i> </span> <span class="text">Chờ Xác Nhận</span> </div>
            <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text"> Đã Xác Nhận</span> </div>
            <div class="step active"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Đang Giao Hàng</span> </div>
            <div class="step"> <span class="icon"> <i class="fa fa-home"></i> </span> <span class="text">Giao Thành Công</span> </div>
        </div>
        <hr>
    </div>
</article>