{% extends "shop/layout.html" %}

{% load static %}
{% load format_currency_vietnam %}
{% load check_and_show_error %}
{% load check_and_show_value %}

{% block content %}
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Thông Tin Người Nhận</h4>
            <form action="{% url 'shop:checkout' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="checkout__input">
                            <p>Họ Tên<span>*</span></p>
                            <input type="text" name="name" value="{% check_and_show_value form.name.value %}">
                            {% check_and_show_error form.errors.name %}
                        </div>
                        <div class="checkout__input">
                            <p>Email<span>*</span></p>
                            <input type="text" name="email" value="{% check_and_show_value form.email.value %}">
                            {% check_and_show_error form.errors.email %}
                        </div>
                        <div class="checkout__input">
                            <p>Số Điện Thoại<span>*</span></p>
                            <input type="text" name="phone" value="{% check_and_show_value form.phone.value %}">
                            {% check_and_show_error form.errors.phone %}
                        </div>                            
                        <div class="checkout__input">
                            <p>Địa Chỉ<span>*</span></p>
                            <textarea name="address">{% check_and_show_value form.address.value %}</textarea>
                            {% check_and_show_error form.errors.address %}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Đơn Hàng</h4>
                            <div class="checkout__order__products">Sản Phẩm <span>Thành Tiền</span></div>
                            <ul>
                                {% for item in items_product_checkout %}                                        
                                    <li>{{item.quantity}} {{item.name}} <span>{{item.total|format_currency_vietnam}}</span></li>
                                {% endfor %}
                                
                            </ul>
                            <div class="checkout__order__total">Tổng Tiền <span>{{total_order|format_currency_vietnam}}</span></div>
                            <button type="submit" class="site-btn">Đặt Hàng</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}