{% extends "shop/layout.html" %}

{% load static %}
{% load check_and_show_error %}
{% load check_and_show_value %}

{% block content %}
<section class="our-contact" style="padding: 50px 0;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="contact_localtion text-center">
                    <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <h4>Địa chỉ</h4>
                    <p>KCN Tịnh Phong, Sơn Tịnh, Quảng Ngãi</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="contact_localtion text-center">
                    <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <h4>Hotline</h4>
                    <p class="mb0"> Mr. Vũ: <a href="tel:07 6666 2949">07 6666 2949</a><br> Mr. : <a
                            href="tel: 07 6666 2949">07 6666 2949</a><br> Ms. : <a href="tel: 07 6666 2949">07 6666 2949</a></p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="contact_localtion text-center">
                    <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                    <h4>Email</h4>
                    <p><a href="mailto:training@zendvn.com">vubui365@gmail.com</a></p>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 50px;">
            <div class="col-lg-6">
                <div class="h600 overflow-hidden" id="map-canvas"><iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43564.46494467739!2d108.78215134787374!3d15.18078614931894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3169b2d05e9e7885%3A0x132ee54884758c08!2zQ-G7pW0gQ8O0bmcgbmdoaeG7h3AgVOG7i25oIFBob25n!5e0!3m2!1svi!2s!4v1719323819028!5m2!1svi!2s" 
                      
                        width="600" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
            </div>
            <div class="col-lg-6 form_grid">
                <h4 class="mb5">Gửi tin nhắn cho chúng tôi</h4>
                <p style="line-height: 25px">Bạn chỉ cần điền đầy đủ thông tin cá nhân và vấn đề trao đổi với Vubui365 vào form
                    bên dưới, sau khi nhận được thông tin này chúng tôi sẽ liên hệ với các bạn trong thời gian sớm
                    nhất.</p>
                <form class="contact_form" id="contact_form" name="contact_form" action="{% url 'shop:contact' %}"
                    method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="exampleInputName">Họ tên</label>
                                <input id="form_name" name="name" class="form-control" type="text" value="{% check_and_show_value form.name.value %}">
                                {% check_and_show_error form.errors.name %}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="exampleInputEmail">Email</label>
                                <input id="form_email" name="email" class="form-control email" type="email"
                                    value="{% check_and_show_value form.email.value %}">
                                {% check_and_show_error form.errors.email %}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="exampleInputPhone">Phone</label>
                                <input id="form_phone" name="phone" class="form-control" type="text" value="{% check_and_show_value form.phone.value %}">
                                {% check_and_show_error form.errors.phone %}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Lời nhắn</label>
                                <textarea id="form_message" name="message" class="form-control" rows="5">{% check_and_show_value form.message.value %}</textarea>
                                {% check_and_show_error form.errors.message %}
                            </div>
                            <div class="form-group ui_kit_button mb0"><button type="submit"
                                    class="btn dbxshad btn-md btn-thm circle white">Gửi ngay</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}