{% extends "shop/layout.html" %}

{% load static %}
{% load render_share_shop %}
{% load format_currency_vietnam %}
{% load get_price_old %}

{% block content %}
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                            src="{{item_product.image.url}}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>{{item_product.name}}</h3>
                    <div class="product__details__price d-flex align-items-center">
                        <span>{{item_product.price_real|format_currency_vietnam}}</span>
                        <span class="price_old">{% get_price_old item_product.price item_product.price_sale %}</span>
                    </div>
                    <p>{{item_product.summary}}</p>
                    <form action="{% url 'shop:add_to_cart' %}" method="post">
                        {% csrf_token %}
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <span class="dec qtybtn">-</span>
                                    <input type="text" value="1" name="quantity">
                                    <span class="inc qtybtn">+</span>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" value="{{item_product.id}}" name="id">
                        <button type="submit" class="primary-btn">Thêm Vào Giỏ Hàng</button>
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    </form>
                    <ul>
                        <li><b>Chất lượng</b> <span>Cam kết cây cảnh đạt tiêu chuẩn</span></li>
                        <li><b>Giao Hàng</b> <span>Trong vòng 3 ngày từ ngày đặt</span></li>
                        <li><b>Hỗ Trợ</b> <span> Từ nhân viên có kinh nghiệm</span></li>
                        <li><b>Share on</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab" style="padding-top: 20px;">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6 class="title_detail_product">Thông tin sản phẩm</h6>
                                {{item_product.content|safe}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->

<!-- Related Product Section Begin -->
<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Sản Phẩm Liên Quan</h2>
                </div>
            </div>
        </div>
        <div class="row">

            {% render_share_shop 'product-grid.html' items_product_related %}

        </div>
    </div>
</section>
<!-- Related Product Section End -->
{% endblock %}