{% extends "shop/layout.html" %}

{% load static %}

{% block content %}
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h2><i class="fa fa-check-circle text-success"></i> {{notify}}</h2>
            <p>Chúng tôi sẽ liên hệ bạn trong thời gian sớm nhất.</p>
            <img src="static/shop/assets/img/thank-you.gif" alt="Thank You Image" class="img-fluid mt-4" style="height: 400px;">
          </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
{% endblock %}