{% extends "layout-main.html" %}

{% load static %}

{% block main_content %}
<!-- About US Start -->
<div class="about-area2 gray-bg pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {% block content %}
                {% endblock %}
                
            </div>
            <div class="col-lg-4">
                {% include 'elements/sidebar.html' %}

            </div>
        </div>
    </div>
</div>
<!-- About US End -->
{% endblock %}