<div class="col-xl-6 col-lg-12">
    <div class="whats-news-single mb-40 mb-40">
        <div class="whates-img">
            <img src="{{ item.image.url }}"
                alt="" style="height: 200px;">
        </div>
        <div class="whates-caption">
            <h4><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h4>
            <span>by Admin - {{ item.publish_date|date:"M d, Y" }}</span>
            <p>
            <p>{{ item.content|safe|truncatechars:200 }}</p>
        </div>
    </div>
</div>