{% if items_price_sidebar_gold|length > 0 %}

<aside class="single_sidebar_widget post_category_widget">
    <h4 class="widget_title mb-2" style="margin-bottom: 0 !important;">Giá Vàng</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Loại vàng</th>
                <th scope="col">Mua</th>
                <th scope="col">Bán</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items_price_sidebar_gold %}
                <tr>
                    <td>{{item.type}}</td>
                    <td>{{item.buy}}</td>
                    <td>{{item.sell}}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</aside>
{% endif %}
